/* line 1, ../sass/style.scss */
body {
  background: #071b29;
  background: #000;
  color: #fff;
}

/* line 7, ../sass/style.scss */
.hero {
  display: block;
  height: 600px;
  /*background: url('images/hero.png') no-repeat center top;*/
}

/* line 12, ../sass/style.scss */
.hero .slogan {
  display: none;
}

/* line 15, ../sass/style.scss */
.hero a {
  position: absolute;
  top: 401px;
  width: 100%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* line 24, ../sass/style.scss */
.hero a:hover {
  background: rgba(0, 0, 0, 0.7);
}

/* line 27, ../sass/style.scss */
.hero hgroup {
  width: 598px;
  height: 99px;
  overflow: hidden;
  margin: 0 auto;
}

/* line 33, ../sass/style.scss */
.hero hgroup .title {
  background: black;
  background: rgba(0, 0, 0, 0.6);
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url("http://hitcon.org/2013/images/logo-large.png?1367434057");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 600px;
  height: 100px;
  background-image: none, url("http://hitcon.org/2013/images/logo-large.svg?1367434057");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  margin: 0 auto;
}

/*

part by 19 ------------------------------------------------------------------------------------------------------------------------------------

*/
/* line 61, ../sass/style.scss */
.hero-top {
  background: url("images/hero-top.png") 0 0 no-repeat;
  width: 100%;
  height: 25px;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 70, ../sass/style.scss */
.hero-bottom {
  background: url("images/hero-bottom.png") 0 0 no-repeat;
  width: 100%;
  height: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
}

/* line 80, ../sass/style.scss */
#scene {
  width: 1400px;
  height: 600px;
  margin: 0 auto;
  position: relative;
}

/* line 87, ../sass/style.scss */
#map {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 94, ../sass/style.scss */
#map canvas {
  margin-left: 1px;
}

/* line 98, ../sass/style.scss */
#dot {
  background: url("images/grid@2x.png") 0 0, url("images/dot@2x.png") 0 0;
  -webkit-background-size: 25px 25px, 100px 100px;
  -o-background-size: 25px 25px, 100px 100px;
  background-size: 25px 25px, 100px 100px;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

/* line 110, ../sass/style.scss */
.block {
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 200px;
}

/* line 116, ../sass/style.scss */
.block-title-wrapper {
  height: 50px;
  text-transform: uppercase;
  color: #b6cdff;
}

/* line 122, ../sass/style.scss */
.block-title {
  font-size: 6px;
  line-height: 8px;
  position: absolute;
  left: 12px;
  top: 16px;
  font-family: 'IdlewildMedium', sans-serif;
}

/* line 131, ../sass/style.scss */
.block-subtitle {
  position: absolute;
  right: 15px;
  top: 2px;
  font-size: 24px;
  color: #d2cd7c;
  line-height: 50px;
  font-family: 'TungstenMedium', sans-serif;
}

/* line 141, ../sass/style.scss */
#password-database {
  top: 25px;
  height: 275px;
}

/* line 146, ../sass/style.scss */
#mobile-network-decoder {
  height: 175px;
  top: 300px;
}

/* line 151, ../sass/style.scss */
#terminals {
  top: 475px;
  width: 400px;
  height: 100px;
}

/* line 157, ../sass/style.scss */
#password-cracker {
  right: 0;
  top: 25px;
  height: 275px;
}

/* line 163, ../sass/style.scss */
#scanner {
  right: 0;
  top: 300px;
  height: 275px;
}

/* line 169, ../sass/style.scss */
.obj {
  position: relative;
  /*background: rgba(255, 255, 0, .5);*/
}

/* object - pointer 
---------------------------------------------------------------------------------------------------------------------------------------*/
/* line 179, ../sass/style.scss */
.obj-pointer {
  height: 100px;
  width: 200px;
}

/* object - decoder
---------------------------------------------------------------------------------------------------------------------------------------*/
/* line 187, ../sass/style.scss */
.obj-decoder {
  height: 125px;
  width: 39px;
}

/* line 191, ../sass/style.scss */
#mobile-network-decoder .obj-decoder {
  float: left;
  border-left: 1px solid #26334c;
}

/* line 196, ../sass/style.scss */
#mobile-network-decoder .obj-decoder:first-child {
  border-color: transparent;
}

/* object - terminal
---------------------------------------------------------------------------------------------------------------------------------------*/
/* line 203, ../sass/style.scss */
.obj-terminal {
  width: 200px;
  height: 100px;
  line-height: 5px;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}

/* line 214, ../sass/style.scss */
#terminals .obj-terminal {
  float: left;
}

/* object - password cracker
---------------------------------------------------------------------------------------------------------------------------------------*/
/* line 221, ../sass/style.scss */
.obj-password-cracker {
  width: 200px;
  height: 25px;
}

/* object - scanner
---------------------------------------------------------------------------------------------------------------------------------------*/
/* line 229, ../sass/style.scss */
.obj-scanner {
  width: 200px;
  height: 100px;
}

/* line 234, ../sass/style.scss */
.scanner-panel {
  position: absolute;
  width: 98px;
  left: 88px;
  top: 27px;
}

/* line 241, ../sass/style.scss */
.scanner-switch {
  width: 100%;
  height: 13px;
  background: url("images/switch.svg") right top no-repeat;
  margin-bottom: 5px;
}

/* line 248, ../sass/style.scss */
.scanner-complete {
  display: block;
  width: 100%;
  height: 11px;
  background: url("images/complete.svg") right top no-repeat;
}

/* object - title bar
---------------------------------------------------------------------------------------------------------------------------------------*/
/* line 259, ../sass/style.scss */
.obj-title-bar {
  width: 115px;
  height: 4px;
  top: 33px;
  left: 11px;
}

/* line 266, ../sass/style.scss */
.obj-title-bar canvas {
  position: absolute;
  left: 0;
  top: 0;
}
